*{
    margin: 0;
    padding: 0;
}

.delete{
    position: absolute;
    right: 0;
    width: 120px;
    height: 40px;
    margin: 50px 150px;
    color: #5A5A5A;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    border: none;
    background-color: #DEEBF7;
    border-radius: 10px;
    cursor: pointer;
}

.reports{
    position: relative;
    top: 120px;
    height: 200px;
    overflow-y: scroll;
}

form{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

form > div{
    display: flex;
    align-items: center;
    position: relative;
    top: 45px;
    margin-bottom: 80px;
}

input{
    float: left;
    margin-right: 30px;
    transform: scale(1.5);
}

.none{
    display: none;
}

.box{
    float: left;
    width: 300px;
    height: 100px;
    background-color: white;
    border: 1.5px solid #545454;
    border-radius: 15px;
}

.green{
    box-shadow: 0px 4px 4px 0px rgba(67, 183, 13, 0.3);
}

.yellow{
    box-shadow: 0px 4px 4px 0px rgba(232, 236, 27, 0.3);
}

.red{
    box-shadow: 0px 4px 4px 0px rgba(255, 1, 1, 0.3);
}

/*
    초록색: rgba(67, 183, 13, 0.3)
    노란색: rgba(232, 236, 27, 0.3)
    빨간색: rgba(255, 1, 1, 0.3)
*/

.date{
    position: relative;
    top: 10px;
    left: 15px;
}

.percent{
    position: relative;
    top: 10px;
    left: 160px;
}

.time{
    position: relative;
    top: 45px;
    left: 190px;
}

.date, .percent, .time{
    font-weight: 550;
    font-size: 15px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 180px;
    width: 1000px;
    height: 250px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 25px;
    line-height: 70px;
    border-radius: 15px;
    background-color: #DEEBF7;
}

.y{
    color: #F9e814;
    text-shadow: 2px 1.5px 2px #545454;
}

.r{
    color: #EF2B2D;
    text-shadow: 2px 1.5px 2px #545454;
}

.g{
    color: #00B760;
    text-shadow: 2px 1.5px 2px #545454;
}
/*
    초록색: #00B760
    노란색: #F9e814
    빨간색: #EF2B2D
*/