*{
    margin: 0;
    padding: 0;
}

#navigation{
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
}

.left, .right{
    float: left;
    width: 35px;
    height: 40px;
    margin: 12px 30px;
    cursor: pointer;
}

#navigation div{
    float: left;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
}