<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/date.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/calender.css')}}">
    <meta charset="UTF-8">
    <title>Report - Calender</title>
</head>
<body>
    <div id="header">
        <a href="/">
            <img class="logo" src="{{url_for('static', filename='img/logo.png')}}" alt="로고">
        </a>
        <form method="POST" action="/graph">
            <button type="submit">그래프</button> 
            <!-- POST로 보낸 뒤 서버에서 이동할 페이지로 데이터 보냄( 삭제 onclick="window.location.href='/graph'" ) -->
        </form>
        <div></div>
    </div>
    <div id="navigation">
        <img class="left" src="{{url_for('static', filename='img/left.png')}}" alt="이전">
        <div>6월</div>
        <img class="right" src="{{url_for('static', filename='img/right.png')}}" alt="다음">
    </div>
    <div id="content">
        <table>
            <th>SUN</th>
            <th>MON</th>
            <th>TUE</th>
            <th>WED</th>
            <th>THU</th>
            <th>FRI</th>
            <th>SAT</th>
            <tr>
                {% for i in range(3) %}
                <td></td>
                {% endfor %}
                {% for i in range(1, 5) %}
                <td class={% if color_list[i] == 'g' %}'g'{% elif color_list[i] == 'y' %}'y'{% elif color_list[i] == 'r' %}'r'{% endif %} 
                onclick={% if color_list[i] != '0' %}"window.location.href='/daily'"{% endif %}>{{ i }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for i in range(5, 12) %}
                <td class={% if color_list[i] == 'g' %}'g'{% elif color_list[i] == 'y' %}'y'{% elif color_list[i] == 'r' %}'r'{% endif %} 
                onclick={% if color_list[i] != '0' %}"window.location.href='/daily'"{% endif %}>{{ i }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for i in range(12, 19) %}
                <td class={% if color_list[i] == 'g' %}'g'{% elif color_list[i] == 'y' %}'y'{% elif color_list[i] == 'r' %}'r'{% endif %} 
                onclick={% if color_list[i] != '0' %}"window.location.href='/daily'"{% endif %}>{{ i }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for i in range(19, 26) %}
                <td class={% if color_list[i] == 'g' %}'g'{% elif color_list[i] == 'y' %}'y'{% elif color_list[i] == 'r' %}'r'{% endif %} 
                onclick={% if color_list[i] != '0' %}"window.location.href='/daily'"{% endif %}>{{ i }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for i in range(26, 31) %}
                <td class={% if color_list[i] == 'g' %}'g'{% elif color_list[i] == 'y' %}'y'{% elif color_list[i] == 'r' %}'r'{% endif %} 
                onclick={% if color_list[i] != '0' %}"window.location.href='/daily'"{% endif %}>{{ i }}</td>
                {% endfor %}
                {% for i in range(2) %}
                <td></td>
                {% endfor %}
            </tr>
        </table>
    </div>
</body>
</html>