<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/date.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/daily.css')}}">
    <meta charset="UTF-8">
    <title>Report - daily</title>
</head>
<body>
    <div id="header">
        <a href="/">
            <img class="logo" src="{{url_for('static', filename='img/logo.png')}}" alt="로고">
        </a>
        <button onclick="window.location.href='/calender'">캘린더</button>
        <div></div>
    </div>
    <div id="navigation">
        <img class="left" src="{{url_for('static', filename='img/left.png')}}" alt="이전">
        <div>{% if date[5] == '0' %}{{date[6]}}{% else %}{{ date[5:7] }}{% endif %}월 {% if date[8] == '0' %}{{date[9]}}{% else %}{{ date[8:10] }}{% endif %}일</div>
        <img class="right" src="{{url_for('static', filename='img/right.png')}}" alt="다음">
    </div>
    <button class="delete">Delete</button>
    <div id="content">
        <div class="reports">
            <form action="post">
                {% for i in range(num) %}
                <div>
                    <input type="checkbox">
                    <div class="box green">
                        <span class="date">{{ date }}</span><span class="percent">{{ cct[i] }}%</span><br>
                        <span class="time">{% if (time[i] // 3600) < 10 %}0{{ time[i] // 3600 }}{% else %}{{ time[i] // 3600 }}{% endif %}h 
                            {% if ((time[i] % 3600) // 60) < 10 %}0{{ (time[i] % 3600) // 60 }}{% else %}{{ (time[i] % 3600) // 60 }}{% endif %}m 
                            {% if (time[i] % 60) < 10 %}0{{ time[i] % 60 }}{% else %}{{ time[i] % 60 }}{% endif %}s</span>
                    </div>
                </div>
                {% endfor %}
            </form>
        </div>
        <div class="text">
            <span>오늘의 집중도는 <span>{{ result_cct }}%</span>로 <span class={{ color }}>{% if color == 'g' %}초록불{% elif color == 'y' %}노란불{% else %}빨간불{% endif %}</span>입니다</span>
            <span>오늘의 집중도는 <span>14시 - 16시</span>에 <span>30%</span>로 가장 낮았습니다</span>
        </div>
    </div>
</body>
</html>