<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Error page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/errorshow.css')}}">
</head>
<body>
    <center>
        <hr>
        <hr class="t">
        <br><br>
        <img class="warn" src="{{url_for('static', filename='img/warn.png')}}" alt="주의"><br><br>
        <div class="comment">비정상적인 접근입니다!!</div><br>
        <br>
        <a href="/">
            Main으로 돌아가기
        </a>
        <br>
        <h2 class="info"><- 공개SW프로젝트_01 팀 이응 -></h3><br><br>
        <hr class="t">
        <hr>
    </center>
</body>
</html>