<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/date.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/graph.css')}}">
    <link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
    <script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
    <meta charset="UTF-8">
    <title>Report - Graph</title>
</head>
<body>
    <div id="header">
        <a href="/">
            <img class="logo" src="{{url_for('static', filename='img/logo.png')}}" alt="로고">
        </a>
        <button onclick="window.location.href='/calender'">캘린더</button>
        <div></div>
    </div>
    <div id="navigation">
        <img class="left" src="{{url_for('static', filename='img/left.png')}}" alt="이전">
        <div>5월</div>
        <img class="right" src="{{url_for('static', filename='img/right.png')}}" alt="다음">
    </div>
    <div id="content">
        <div class="graph">
            <div id="chart"></div>
        </div>
        <div class="text">
            <div>
                <span>집중도 80.2%</span><br>
                월간 프로그램 실행 횟수: 27 회<br>
                집중도 높은 시간: 시작 후 10분 ~ 20분<br>
                집중도 낮은 시간: 시작 후 40분 ~ 50분<br>
                집중도 Best: 5월 16일 월요일<br>
                집중도 Worst: 5월 20분 금요일<br><br>
                <span>지난 달 대비 집중도 <span>12% 상승</span></span>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='script/graph.js')}}"></script>
</body>
</html>