<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/date.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/graph.css')}}">
    <link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
    <script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
    <meta charset="UTF-8">
    <title>Report - Graph</title>
</head>
<body>
    <div id="header">
        <a href="/">
            <img class="logo" src="{{url_for('static', filename='img/logo.png')}}" alt="로고">
        </a>
        <form method="POST" action="/calender">
            <button type="submit">캘린더</button> 
            <!-- POST로 보낸 뒤 서버에서 이동할 페이지로 데이터 보냄( 삭제 onclick="window.location.href='/calender'" ) -->
        </form>
        <div></div>
    </div>
    <div id="navigation">
        <img class="left" src="{{url_for('static', filename='img/left.png')}}" alt="이전">
        <div>{{ month }}월</div>
        <img class="right" src="{{url_for('static', filename='img/right.png')}}" alt="다음">
    </div>
    <div id="content">
        <div class="graph">
            <div id="chart"></div>
            <script>
                const el = document.getElementById('chart');
                const data = {
                /* const exampledate='2022/05/01' 
                이런식으로 categories안에 변수로도 데이터 넣을 수 있음!*/
                    categories: [
                            '{% if l == 0 %}{% elif l >= 1 %}{{ date[0] }}{% endif %}{% for i in range(1,l) %}','{{ i }}{% endfor %}'
                    ],
                    series: [
                        {
                            name: 'Average Concentrate',
                            data: ['{% for i in cct_list %}{{ i }}','{% endfor %}'],
                        },
                        {
                            name: 'Best Concentrate',
                            data: ['{% for i in b_cct %}{{ i }}','{% endfor %}'],
                        },
                        {
                            name: 'Worst Concentrate',
                            data: ['{% for i in w_cct %}{{ i }}','{% endfor %}'],
                        },
                    ],
                };

                const options = {
                    series: {
                        /*그래프 확대 속성*/
                        zoomable: true,
                        /*그래프 버블 텍스트 속성*/
                        dataLabels : {
                            visible:true, offsetY:-10
                        }
                    },
                    /*그래프 버블 텍스트 속성*/
                    theme: {
                        series: {
                            dataLabels: {
                                fontFamily: 'monaco',
                                fontSize: 13,
                                fontWeight: 700,
                                useSeriesColor: true,
                                textBubble: {                                        visible: true,
                                    arrow: {
                                        visible: true,
                                        width: 6,
                                        height: 6,
                                        direction: 'bottom'
                                    }
                                }
                            }
                        }
                    },
                    /*그래프 차트 제목, x축, y축 속성*/ 
                    chart: { title: 'Monthly Concentration', width: 800, height: 500 },
                    xAxis: { 
                        pointOnColumn: false, 
                        title: { text: 'Date' },
                        tick:{ interval: 6. },
                        label:{ interval: 6, }, 
                        date: { format: 'YY-MM-DD' }
                    },
                    yAxis: { 
                        title: 'Concetration (%)',
                        scale: {
                            min: 0,
                            max: 100,
                            stepSize: 20,
                        },
                    },
                    legend: {
                        visible:false
                    }
                };
                const chart = toastui.Chart.areaChart({ el, data, options });
            </script>
        </div>
        <div class="text">
            <div>
                <span>집중도 {{ cct }}%</span><br>
                월간 프로그램 실행 횟수: {{ num }} 회<br>
                집중도 Best: {{ month }}월 {{ date_b }}일 {{ cct_b }}%<br>
                집중도 Worst: {{ month }}월 {{ date_w }}일 {{ cct_w }}%<br><br>
                <span>지난 달 대비 집중도 <span class={{ color }}>{% if sub > 0 %}{{ sub }}% 증가{% else %}{{ -sub }}% 감소{% endif %}</span></span>
            </div>
        </div>
    </div>
</body>
</html>