<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <div id="header">
        <a href="/">
        <img class="logo" src="{{url_for('static', filename='img/logo.png')}}" alt="로고">
        </a>
    </div>
    <div id="content">
        <img class="main" src="{{url_for('static', filename='img/main.jpg')}}" alt="메인">
        <div class="wrapper_btn">
            <button onclick="window.location.href='/program_setting'">프로그램 실행</button>
            <button onclick="window.location.href='/graph'">집중도 레포트</button>
        </div>
    </div>
    <div id="footer">
        <span>Team IEung 김예지 | 심여은 | 정지윤 | 홍연주</span>
    </div>
</body>
</html>