<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/program.css')}}">
    <script src="{{url_for('static', filename='script/jquery-1.10.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='script/program.js')}}"></script>
    <meta charset="UTF-8">
    <title>Program Run</title>
</head>
<body>
    <div id="header">
        <a href="/">
            <img class="logo" src="{{url_for('static', filename='img/logo.png')}}" alt="로고">
        </a>
        <button onclick="window.location.href='/graph'">레포트</button>
        <div></div>
    </div>
    <div id="content">
        <div id="navigation">
            <img class="nav_img" src="{{url_for('static', filename='img/nav.png')}}" alt="그림">
            <div class="wrapper_btn1">
                <button onclick="window.location.href='/program_setting'">초기 설정</button>
                <button class="on" onclick="window.location.href='/program_run'">프로그램 실행</button>
            </div>
            <div class="wrapper_btn2 run">
                    <button class="btn_on" onclick="window.location.href='/program_run'">실행</button>
                <form action="/terminate" method="post">
                    <button class="btn_off">종료</button> <!-- submit button -->
                </form>
            </div>
        </div>
        <div class="main">
            <img src="{{ url_for('video_show_run') }}" width="100%" height="100%">
        </div>
    </div>
</body>
</html>